<!DOCTYPE html>
<html>
  <% include head %>
  <head>
    <title><%= title %></title>
  </head>
  <% include nav %>
  <body>
    <h1 style="padding: 50px;"><%= title %></h1>
    <div>
      <% for (var i in blogs) { %>
        <div>
          <div style="float: left; margin-top: 10px;"><%= blogs[i].Username %></div>
          <div style="float: right; margin-top: 10px;"><%= blogs[i].CreateDate %></div>
          <br>
          <div style="clear: both;"><p><%= blogs[i].Article %></p></div>
          <a href='/users/message/<%= blogs[i].id %>' style="float: right; margin-top: 80px; margin-right: 20px;">Leave a message</a>
          <hr style="margin-top: 110px;">
        </div>
      <% } %>
    </div>
  </body>
</html>
