<nav>
  <div style="float: left;">
    <a href="http://localhost:3000">Home</a>
  </div>
  <div style="float: right; margin: 10px;">
    <% if (username && authenticated) { %>
      <a href="http://localhost:3000/users/signout" >Sign out</a>
      <a href="http://localhost:3000/users/add_article">Add Article</a>
      <a href="http://localhost:3000/users/profile">Profile</a>
      <span><%= username %></span>
    <% } else { %>
      <a href="http://localhost:3000/users/signin">Log In</a>
      <a href="http://localhost:3000/users/register">Register</a>
    <% } %>
  </div>
</nav>