<!DOCTYPE html>
<html>
    <% include ../head %>
    <head>
        <title>Add Article</title>
    </head>

    <% include ../nav %>

    <body>
        <div>
          <form name="add" action="/apis/add" method="post">
            <h1>Add Article</h1>
            <div>
              <p>
                <span>Writer</span>
                <label><%= username %></label>
              </p>
              <p>
                <textarea cols="50", rows="25", style="resize: none;", name="Content"></textarea>
              </p>
              <div>
                <span style="padding: right 377px"></span>
                <input type="submit", name="submit", value="Save">
              </div>
            </div>
          </form>
        </div>
      </body>
</html>