<!DOCTYPE html>
<html>
    <% include ../head %>
    <head>
        <title>Leave a Message</title>
    </head>

    <% include ../nav %>

    <body>
        <div style="padding: 50px;">
            <h1>Message</h1>

            <div>
                <div style="float: left; margin-top: 10px;"><%= blogs.Username %></div>
                <div style="float: right; margin-top: 10px;"><%= blogs.CreateDate %></div>
                <br>
                <div style="clear: both;"><p><%= blogs.Article %></p></div>
                <hr style="margin-top: 110px;">
            </div>

            <div style="width: 40%; margin-left: 30%;">
                <% for (var i in comments) { %>
                    <div style="right: 42%; margin-top: 10px;"><%= comments[i].Visitor %></div>
                    <div style="right: 42%; margin-top: 10px;"><%= comments[i].CreateDate %></div>
                    <br>
                    <div style="right: 42%; margin-top: 10px;"><p><%= comments[i].Comment %></p></div>
                    <hr style="margin-top: 30px;">
                    <br>
                    <br>
                <% } %>
            </div>
            <div style="margin-left: 30%;">
                <form name="comment" action="/apis/comment/<%= messageID %>" method="POST">
                    <h1>Leave a message</h1>
                    <div>
                        <p>
                            <span>Name: </span>
                            <input type="text" name="Visitor">
                        </p>
                        <p>
                            <textarea cols="50" rows="10" style="resize: none;" name="Comment"></textarea>
                        </p>
                        <div>
                            <span style="padding-right: 377px;"></span>
                            <input type="submit" name="submit" value="Reply">
                            <hr style="width: 50%; margin-top:30px; margin-left: 0%;">
                        </div>
                        <br>
                        <br>
                    </div>
                </form>
            </div>
        </div>
      </body>
</html>