<!DOCTYPE html>
<html>
    <% include ../head %>
    <head>
        <title>Modify</title>
    </head>

    <% include ../nav %>

    <body>
        <div style="padding: 50px;">
          <form name="modify" action="/apis/update/<%= messageID %>" method="post">
            <h1>Modify Article</h1>
            <div>
              <p>
                <span>Writer</span>
                <label><%= username %></label>
              </p>
              <p>
                <textarea cols="50", rows="25", style="resize: none;", name="Content"><%= blogs.Article %></textarea>
              </p>
              <div>
                <span style="padding: right 377px"></span>
                <input type="submit", name="submit", value="Update">
              </div>
            </div>
          </form>
        </div>
      </body>
</html>