<!DOCTYPE html>
<html>
  <% include ../head %>
  <head>
    <title>Profile</title>
  </head>

  <% include ../nav %>

  <body>
    <h1 style="padding: 50px;"><%= title %></h1>
    <div>
      <% for (var i in blogs) { %>
        <div>
          <div style="float: left; margin-top: 10px;"><p><%= blogs[i].Username %></p></div>
          <div style="float: right; margin-top: 10px;"><p><%= blogs[i].CreateDate %></p></div>
          <br>
          <div style="clear: both;"><p><%= blogs[i].Article %></p></div>
          <div>
            <div style="float: right; margin-top: 5px; margin-right: 15px;">
                <a href="../apis/delete/<%= blogs[i].id %>">Delete</a>
            </div>
            <div style="float: right; margin-top: 5px; margin-right: 20px;">
                <a href="/users/modify/<%= blogs[i].id %>">Modify</a>
            </div>
          </div>
          <hr style="margin-top: 30px;">
        </div>
      <% } %>
    </div>
  </body>
</html>
