<!DOCTYPE html>
<html>
  <% include ../head %>
  <head>
    <title>Log in</title>
  </head>
  <body>
    <div>
      <a href="/">Home</a>
    </div>
    <div>
        <a href="register">Register</a>
        <!-- <a href="forget">Forget Password</a> -->
    </div>

    <form name="login" action="/apis/login" method="post">
        <h1>Log in</h1>
        <p>
            <label>Username:
                <input name="user" type="text" placeholder="User123">
            </label>
        </p>
        <p>
            <label>Password:
                <input name="passwd" type="password">
            </label>
        </p>
        <p>
            <input name="submit" type="submit" value="Sign up">
        </p>
    </form>
    
  </body>
</html>
